---
import Layout from "../layouts/Layout.astro"
import split from "../images/buttons/split.png?url"
import peggle2 from "../images/peggle2.webp?url"
import jack from "../images/buttons/jack.png?url"
import micro from "../images/buttons/micro.avif?url"
import binbows from "../images/buttons/binbows.png?url"
import drew from "../images/buttons/drew.gif?url"
import TestimonyItem from "../components/testimonyItem.astro"
---

<Layout title="k8's corner" description="Good lordd what is happenin in ther">
	<h1>hi, i'm thememesniper</h1>
	<h3>programmer, linux user, nutjob.</h3>
	<img
		class="center pfp"
		id="pfp"
		src=""
		alt="my profile picture. it's whatever i have it set to on mastodon or just nothing if you have noscript on"
	/>
	<p id="pfpsource"></p>
	<h3 id="quote"></h3>
	<noscript>
		<h3>"My boy! No JS is what all true warriors strive for."</h3>
	</noscript>
	<br />
	<div>
		<button class="card" onclick="window.quoteReroll()">90% of gamblers</button>
	</div>
	<br />
	<div aria-label="links" class="buttonContainer">
		<a href="https://wetdry.world/@thememesniper" rel="me" class="card"
			>Mastodon</a
		>
		<a href="https://bsky.app/profile/did:plc:5wh3hjau5fsq65evluglwduk" rel="me" class="card"
			>Bluesky</a
		>
		<a href="https://bsky.app/profile/did:plc:4x7b5qojaruzklji4nerhjlc" rel="me" class="card"
			>Bluesky (Fediverse bridge)</a
		>
		<a href="https://github.com/TheMemeSniper/website" rel="me" class="card"
			>Source?</a
		>
	</div>
	<br />
	<h1>testimonials</h1>

	<div class="testimonials">
		<TestimonyItem quote="awsum bocchi the rock enjoyer" name="-micr0 wetdry" />
		<TestimonyItem
			quote="solid 0/10, high quality autism"
			name="-doskel doskel"
		/>
		<div class="testimony">
			<h4>silly</h4>
			<p>
				-micro...
				<img src={peggle2} alt="very, very small gif of the peggle 2 guy" />
			</p>
		</div>
		<TestimonyItem
			quote=`thememesniper has helped my team and I stay on the same page.
        Previously, we were all over the board. Using thememesniper has
        definitely saved us time and money.`
			name="-millions wetdry"
		/>
		<TestimonyItem quote="d1 game developer" name="-bronzefeathers wetdry" />
		<TestimonyItem quote="my greatest condolences for being the protagonist of an xkcd" name="-boxy wetdry" />
		<TestimonyItem quote="you're putting too much effort into our table and it's starting to scare me" name="-rabbithawk256 weddy" />
		<TestimonyItem quote="stuzz died for her cactus farms" name="-limineow jouse" />
		<TestimonyItem quote="Hey, look! It's the annoying kid who dies all the time!" name="- The Snatcher from the hit indie game A Hat in Time" />
	</div>


	<h1>The joyous buttons and other trinkets</h1>
	<div
		style="
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1ch;
        flex-wrap: wrap;
      "
	>
		<a href="https://thememesniper.dev" target="_blank">
			<!-- 88x31 is in /public in case of hotlinking attempts -->
			<img
				src="/images/88x31.png"
				alt="k8's corner"
				decoding="async"
				height="31"
				width="88"
				style="image-rendering: pixelated"
			/>
		</a>
		<a href="https://velzie.rip" target="_blank">
			<img
				src="https://velzie.rip/88x31.png"
				alt="velzie"
				decoding="async"
				height="31"
				width="88"
				style="image-rendering: pixelated"
			/>
		</a>
		<a href="https://micro.pages.gay" target="_blank">
			<img
				src={micro}
				alt="Micro"
				decoding="async"
				height="31"
				width="88"
				style="image-rendering: pixelated"
			/>
		</a>
		<a href="https://jack.cab" target="_blank">
			<img
				src={jack}
				alt="Jack.cab"
				decoding="async"
				height="31"
				width="88"
				style="image-rendering: pixelated"
			/>
		</a>
		<a
			href="https://760ceb3b9c0ba4872cadf3ce35a7a494.neocities.org/"
			target="_blank"
		>
			<img
				src="https://760ceb3b9c0ba4872cadf3ce35a7a494.neocities.org/people/760ceb3b9c0ba4872cadf3ce35a7a494.png"
				alt="760ceb3b9c0ba4872cadf3ce35a7a494's website"
				decoding="async"
				height="31"
				width="88"
				style="image-rendering: pixelated"
			/>
		</a>
		<a href="https://split.pet/" target="_blank">
			<img
				src={split}
				alt="split's website"
				decoding="async"
				height="31"
				width="88"
				style="image-rendering: pixelated"
			/>
		</a>
		<a href="https://aleteoryx.me/" target="_blank">
			<img
				src="https://aleteoryx.me/common/badges/ame.gif"
				alt="aleteoryx.me"
				height="31"
				width="88"
				style="image-rendering: pixelated"
			/>
		</a>
		<a href="https://bnbws.neocities.org/" target="_blank">
			<img
			src={binbows}
			alt="binbows"
			height="31"
			width="88"
			style="image-rendering: pixelated"
			/>
		</a>
		<a href="https://byemc.xyz" target="_blank">
			<img 
			src="https://byemc.xyz/assets/buttons/byebutton.gif" 
			alt="byespace"
			height="31"
			width="88"
			style="image-rendering: pixelated"
			/>
		</a>
		<a href="https://drewsh.com" target="_blank">
			<img 
			src={drew}
			alt="drew"
			height="31"
			width="88"
			style="image-rendering: pixelated"
			/>
		</a>
		<a href="https://midnaw.neocities.org/buttons/midna.png" target="_blank">
			<img
			src="https://midnaw.neocities.org/"
			alt="midna"
			height="31"
			width="88"
			style="image-rendering: pixelated"
			/>
		</a>
	</div>
	<p>
		if we're mutuals on fedi ask me to add your button/testimony here! also tell
		me if you want your button image hotlinked or not
	</p>
	<script src="../quotes.js"></script>
	<script src="../pfp.js"></script>
</Layout>
