---
import Layout from "../layouts/Layout.astro"
import split from "../images/buttons/split.png?url"
import stupidcat from "../images/stupidcat.webp?url"
import peggle2 from "../images/peggle2.webp?url"
import jack from "../images/buttons/jack.png?url"
import TestimonyItem from "../components/testimonyItem.astro"
const wetdryprofile = await fetch(
	"https://wetdry.world/api/v1/accounts/109768514398335264"
).then((res) => res.json())
const avatar_static = wetdryprofile.avatar_static
const avatar_source = wetdryprofile.fields[4].value
---

<Layout title="k8's corner" description="Good lordd what is happenin in ther">
	<h1>hi, i'm thememesniper</h1>
	<h3>programmer, linux user, nutjob.</h3>
	<img
		class="center pfp"
		id="pfp"
		src={avatar_static}
		alt="my profile picture. it's whatever i have it set to on mastodon or just a missing texture if you have noscript on"
	/>
	<p>pfp source: {avatar_source}</p>
	<h3 id="quote"></h3>
	<noscript>
		<h3>"My boy! No JS is what all true warriors strive for."</h3>
	</noscript>
	<br />
	<div>
		<button class="card" onclick="window.quoteReroll()">90% of gamblers</button>
	</div>
	<br />
	<div aria-label="links">
		<a href="https://wetdry.world/@thememesniper" rel="me" class="card"
			>Mastodon</a
		>
		<a href="https://github.com/TheMemeSniper/website" rel="me" class="card"
			>Source?</a
		>
	</div>
	<br />
	<h1>testimonials</h1>

	<div class="testimonials">
		<div class="testimony">
			<img
				style="
            height: 5px;
            width: 100%;
            line-height: 0;
            display: inline;
            max-height: 5%;
          "
				src={stupidcat}
				alt="really stretched out limineow"
			/>
			<p>-limineow grimgreen</p>
		</div>
		<TestimonyItem quote="awsum bocchi the rock enjoyer" name="-micr0 wetdry" />
		<TestimonyItem quote="solid 7/10, high quality brainrot" name="-doskel doskel" />
		<div class="testimony">
			<h4>silly</h4>
			<p>
				-micro...
				<img src={peggle2} alt="very, very small gif of the peggle 2 guy" />
			</p>
		</div>
		<TestimonyItem
			quote=`thememesniper has helped my team and I stay on the same page.
        Previously, we were all over the board. Using thememesniper has
        definitely saved us time and money.`
			name="-millions wetdry"
		/>
		<TestimonyItem quote="d1 game developer" name="-bronzefeathers wetdry" />
	</div>

	<h1>The joyous buttons and other trinkets</h1>
	<div
		style="
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1ch;
        flex-wrap: wrap;
      "
	>
		<a href="https://thememesniper.dev" target="_blank">
			<!-- 88x31 is in /public in case of hotlinking attempts -->
			<img
				src="/images/88x31.png"
				alt="k8's corner"
				decoding="async"
				height="31"
				width="88"
				style="image-rendering: pixelated"
			/>
		</a>
		<a href="https://coolelectronics.me" target="_blank">
			<img
				src="https://coolelectronics.me/ce88x31.png"
				alt="velzie"
				decoding="async"
				height="31"
				width="88"
				style="image-rendering: pixelated"
			/>
		</a>
		<a href="https://micro.pages.gay" target="_blank">
			<img
				src="https://git.gay/Micro/pages/raw/branch/main/src/assets/images/standard/niko%C2%B9.png"
				alt="Micro"
				decoding="async"
				height="31"
				width="88"
				style="image-rendering: pixelated"
			/>
		</a>
		<a href="https://jack.cab" target="_blank">
			<img
				src={jack}
				alt="Jack.cab"
				decoding="async"
				height="31"
				width="88"
				style="image-rendering: pixelated"
			/>
		</a>
		<a
			href="https://760ceb3b9c0ba4872cadf3ce35a7a494.neocities.org/"
			target="_blank"
		>
			<img
				src="https://760ceb3b9c0ba4872cadf3ce35a7a494.neocities.org/people/760ceb3b9c0ba4872cadf3ce35a7a494.png"
				alt="760ceb3b9c0ba4872cadf3ce35a7a494's website"
				decoding="async"
				height="31"
				width="88"
				style="image-rendering: pixelated"
			/>
		</a>
		<a href="https://split.pet/" target="_blank">
			<img
				src={split}
				alt="split's website"
				decoding="async"
				height="31"
				width="88"
				style="image-rendering: pixelated"
			/>
		</a>
	</div>
	<p>
		if we're mutuals on fedi ask me to add your button/testimony here! also tell
		me if you want your button image hotlinked or not
	</p>
	<script src="../quotes.js"></script>
</Layout>
