---
import Layout from "../layouts/Layout.astro"
import TestimonyItem from "../components/testimonyItem.astro"
import EE31 from "../components/ee31.astro"

import split from "../images/buttons/split.png?url"
import peggle2 from "../images/peggle2.webp?url"
import jack from "../images/buttons/jack.png?url"
import micro from "../images/buttons/micro.avif?url"
import binbows from "../images/buttons/binbows.png?url"
import drew from "../images/buttons/drew.gif?url"


import akane from "../images/trinkets/akane.png?url"
import arizona from "../images/trinkets/arizona.gif?url"
import fedora from "../images/trinkets/fedora.gif?url"
import graphene from "../images/trinkets/grapheneos.gif?url"
import macintoshwks from "../images/trinkets/macintoshwks.gif?url"
import miku from "../images/trinkets/miku.gif?url"
import nano from "../images/trinkets/nano.gif?url"
import vocaloid from "../images/trinkets/vocaloid.gif?url"
import vscbutton from "../images/trinkets/vscbutton.gif?url"
import yanknow from "../images/trinkets/yanknow.gif?url"

---

<Layout title="k8's corner" description="Good lordd what is happenin in ther">
	<h1>hi, i'm thememesniper</h1>
	<h3>programmer, linux user, nutjob.</h3>
	<img
		class="center pfp"
		id="pfp"
		src=""
		alt="my profile picture. it's whatever i have it set to on mastodon or just nothing if you have noscript on"
	/>
	<p id="pfpsource"></p>
	<h3 id="quote"></h3>
	<noscript>
		<h3>"My boy! No JS is what all true warriors strive for."</h3>
	</noscript>
	<br />
	<div>
		<button class="card button" onclick="window.quoteReroll()">90% of gamblers</button>
	</div>
	<br />
	<div aria-label="links" class="buttonContainer">
		<a href="https://wetdry.world/@thememesniper" rel="me" class="card"
			>Mastodon</a
		>
		<a href="https://bsky.app/profile/did:plc:5wh3hjau5fsq65evluglwduk" rel="me" class="card"
			>Bluesky</a
		>
		<a href="https://bsky.app/profile/did:plc:4x7b5qojaruzklji4nerhjlc" rel="me" class="card"
			>Bluesky (Fediverse bridge)</a
		>
		<a href="https://github.com/TheMemeSniper/website" rel="me" class="card"
			>Source?</a
		>
	</div>
	<br />
	<h1>testimonials</h1>

	<div class="testimonials">
		<TestimonyItem quote="awsum bocchi the rock enjoyer" name="-micr0 wetdry" />
		<TestimonyItem
			quote="solid 0/10, high quality autism"
			name="-doskel doskel"
		/>
		<div class="testimony">
			<h4>silly</h4>
			<p>
				-micro...
				<img src={peggle2} alt="very, very small gif of the peggle 2 guy" />
			</p>
		</div>
		<TestimonyItem
			quote=`thememesniper has helped my team and I stay on the same page.
        Previously, we were all over the board. Using thememesniper has
        definitely saved us time and money.`
			name="-millions wetdry"
		/>
		<TestimonyItem quote="d1 game developer" name="-bronzefeathers wetdry" />
		<TestimonyItem quote="my greatest condolences for being the protagonist of an xkcd" name="-boxy wetdry" />
		<TestimonyItem quote="you're putting too much effort into our table and it's starting to scare me" name="-rabbithawk256 weddy" />
		<TestimonyItem quote="stuzz died for her cactus farms" name="-limineow jouse" />
		<TestimonyItem quote="Hey, look! It's the annoying kid who dies all the time!" name="- The Snatcher from the hit indie game A Hat in Time" />
	</div>


	<h1>Niche Button/Media(s)</h1>
	<div
		style="
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1ch;
        flex-wrap: wrap;
      "
	>
		<EE31 href="https://thememesniper.dev" image="/images/88x31.png" image_alt="k8's corner"/>
		<EE31 href="https://velzie.rip" image="https://velzie.rip/88x31.png" image_alt="velzie"/>
		<EE31 href="https://micro.pages.gay" image={micro} image_alt="Micro"/>
		<EE31 href="https://jack.cab" image={jack} image_alt="Jack.cab" />
		<EE31 href="https://760ceb3b9c0ba4872cadf3ce35a7a494.neocities.org/" 
			image="https://760ceb3b9c0ba4872cadf3ce35a7a494.neocities.org/people/760ceb3b9c0ba4872cadf3ce35a7a494.png"
			image_alt="760ceb3b9c0ba4872cadf3ce35a7a494's website"
		/>
		<EE31 href="https://split.pet/" image={split} image_alt="split's website" />
		<EE31 href="https://aleteoryx.me/" image="https://aleteoryx.me/common/badges/ame.gif" image_alt="aleteoryx.me"/>
		<EE31 href="https://bnbws.neocities.org/" image={binbows} image_alt="binbows" /> 
		<EE31 href="https://byemc.xyz" image="https://byemc.xyz/assets/buttons/byebutton.gif" image_alt="byespace"/>
		<EE31 href="https://drewsh.com" image={drew} image_alt="drew"/>
		<EE31 href="https://midnaw.neocities.org/" image="https://midnaw.neocities.org/buttons/midna.png" image_alt="midna"/>
		<EE31 href="https://gagingo.ing/" image="https://gagingo.ing/img/88x31.png" image_alt="gagingo ing"/>
	</div>
	<p>
		if we're mutuals on fedi ask me to add your button/testimony here! also tell
		me if you want your button image hotlinked or not
	</p>
	<h1>Trinkets</h1>
	<div>
		<EE31 image={akane} image_alt="Seyana" href="https://www.youtube.com/watch?v=OVuYIMa5XBw"/>
		<EE31 image={arizona} image_alt="AriZona Green Tea" href="https://drinkarizona.com/collections/teas/products/green-tea-20oz-tallboy"/>
		<EE31 image={fedora} image_alt="Fedora" href="https://www.fedoraproject.org/"/>
		<EE31 image={graphene} image_alt="GrapheneOS" href="https://grapheneos.org/"/>
		<EE31 image={macintoshwks} image_alt="Macintosh: It Just Works" href="https://www.apple.com/mac/"/>
		<EE31 image={miku} image_alt="This website is Miku approved" href="https://www.youtube.com/watch?v=bkY_3vXuGBA"/>
		<EE31 image={nano} image_alt="This website was made with NANO" href="https://nichijou.wiki.gg/wiki/Nano_Shinonome"/>
		<EE31 image={vocaloid} image_alt="Vocaloid NOW!" href="https://www.vocaloid.com/en/"/>
		<EE31 image={vscbutton} image_alt="Visual Studio Code" href="https://code.visualstudio.com/"/>
		<EE31 image={yanknow} image_alt="Yankovic NOW!" href="https://www.youtube.com/watch?v=DFI6cV9slfI"/>
	</div>
	<script src="../quotes.js"></script>
	<script src="../pfp.js"></script>
</Layout>
