---
import Layout from "../layouts/Layout.astro"
import ProjectCard from "../components/projectCard.astro"
import anuraos from "../images/projects/anuraos.png?url";
import sh1mmer from "../images/projects/sh1mmer.png?url";
import harmony from "../images/projects/harmony.png?url";
import ourtable from "../images/projects/ourtable.png?url";
import nanocms from "../images/projects/nano-cms.svg?url";
import kanarun from "../images/projects/kana-run.png?url"
---

<Layout
	title="k8's corner - projects"
	description="all the stuff i've worked on"
>
	<h1>individual projects</h1>

	<div class="testimonials">

		<ProjectCard
			name="nano-cms"
			description="programmer's idea of how a cms ought to be"
			homepage="https://github.com/TheMemeSniper/nano-cms"
			image={nanocms}
			image_alt="a wind-up toy's key drawn on a blueprint background"
		/>

		<ProjectCard
			name="kana run"
			description="web game where you type kana as fast as possible"
			homepage="https://github.com/TheMemeSniper/kana-run"
			image={kanarun}
			image_alt="the word 'kana' written in katakana diagonally on a white background"
		/>

		<ProjectCard
			name="computercraft archive"
			description="random stuff i wrote with computercraft. may be useful to you if you play modded minecraft and have computercraft"
			homepage="https://github.com/TheMemeSniper/computercraft-archive"
		/>
	</div>

	<h1>shinonome labs projects</h1>
	<h3>(it's just me in shinonome labs but shhhhhh)</h3>
	<div class="testimonials">
		<ProjectCard
		name="Harmony"
		description="ROBLOX library that lets you easily write cross-platform UI"
		homepage="https://github.com/shinonome-labs/Harmony"
		image={harmony}
		image_alt="a yellow eight-handled wheel on a purple-ish background"
	/>
		<ProjectCard
		name="our table"
		description="ROBLOX game about throwing cinder blocks at people and killing them with many different ways to outplay your opponents"
		homepage="https://www.roblox.com/games/109331643547097/our-table"
		image={ourtable}
		image_alt="our table logo, part of the text is on the cinderblock that's hitting the table and the other part is in pieces under the table. it is on a purple-ish background"
		/>
	</div>

	<h1>mercury workshop projects</h1>
	<div class="testimonials">
		<ProjectCard
			name="anuraOS"
			description="webOS with an x86 emulator and friendly developer APIs"
			homepage="https://github.com/MercuryWorkshop/anuraOS"
			image={anuraos}
			image_alt="a picture of the anuraOS desktop with the about anura app pulled up"
		/>
		<ProjectCard
			name="sh1mmer"
			description="chromebook exploit for running unverified code in the chromeOS recovery environment"
			homepage="https://github.com/MercuryWorkshop/sh1mmer"
			image={sh1mmer}
			image_alt="a picture from the sh1mmer beautiful world ui with some utilities listed"
		/>
	</div>

	<h1>other contributions</h1>
	<div class="testimonials">
		<ProjectCard
			name="moshidon"
			description="beautiful material you app for the fediverse"
			homepage="https://github.com/LucasGGamerM/moshidon"
		/>
	</div>
</Layout>
