---


interface Props {
    name: string
    description: string
    image?: string
    image_alt?: string
    homepage: string
}
---

<div class="project-card">
    {Astro.props.image != undefined && <img src={Astro.props.image} alt={Astro.props.image_alt}>}
    <h4>{Astro.props.name}</h4>
    <p>{Astro.props.description}</p>
    <br />
    <a href={Astro.props.homepage}>homepage</a>
</div>