---
import "../global.css"
import { getImage } from "astro:assets"
import icon from "../images/icons/icon.png"
const favicon = await getImage({
	src: icon,
	width: 32,
	height: 32,
})
interface Props {
	title: string
	description: string
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex" />
		<title>{Astro.props.title}</title>
		<meta content={Astro.props.title} property="og:title" />
		<meta content={Astro.props.description} property="og:description" />
		<meta content="https://thememesniper.dev/" property="og:url" />
		<meta content={icon.src} property="og:image" />
		<meta content="#F5A9B8" name="theme-color" />
		<link rel="icon" href={favicon.src} />
	</head>
	<body>
		<slot />
	</body>
</html>
